main{
    margin-left: 2.5em;
    margin-right: 2.5em;
}
.in{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.in__foto{
    max-width: 30em;
}
.faze{
    grid-template-columns: repeat(4,1fr);
}
.swiper{
    margin-right: 2em;
    margin-left: 2em;
}
.galerie{
    grid-template-columns: repeat(6, 1fr);
}
.nem{
    gap: 5em;
}
.nem__box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.nem__obr{
    max-width: 30em;
}