/*MENU*/
.hamburger-row{display: none;}
.menu-items{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 3em 0;
}
.container{ margin: 0;}
.hamburger-nav{transform: none;}
.hamburger-nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hamburger-nav li{
    font-size: 1.25em;
    background-color: var(--txbox);
}
.in__foto{ max-width: 30em;}

.title{text-align: center;}
.in__text{text-align: justify;}
.galerie {grid-template-columns: repeat(3, 1fr);}
img{max-width: fit-content;}
.faze{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
}
.dotazy__box p, .dotazy__box h3{text-align: justify;}
.ich{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ich__box{order: 1;}
.ich__box p{text-align: justify;}
.ich__obr{
    min-width: 20em;
    max-width: 35em;
    order: 2;
}
.kontakt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}
.kontakt__ja .ig{
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.kontakt__ja{
    border-right: 2px solid var(--hov);
    padding-right: 2em;
}
.kontakt__ja, .kontakt__skola{align-items: flex-start;}
.uvod{text-align: justify;}
.nem__obr{
    max-height: 20em;
    margin: 0 auto;
}
.nem p{
    margin-left: 1.5em;
    margin-right: 1.5em;
}
.nem__box p{text-align: justify;}
/*FOOT*/
.foot__cop{border-top: none;}
.foot__odkazy{
    margin: 2em 1.5em 1em;
    padding: 0 2em 1em;
    border-bottom: 2px solid var(--txbox);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.foot{align-items: stretch;}
.ig-foot::before{padding-right: 0;}